/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/*---------------------------------------*/
body {
  background: #eee;
}

.searchForm {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.searchForm > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.searchForm > button {
  white-space: nowrap;
  padding: 0 26px;
  border: none;
  color: white;
  background: #07b7de;
  border: 1px solid #07b7de;
  border-radius: 5px;
}

.globalMain {
}

.siteList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;
}
.siteList > li {
  margin-bottom: 16px;
}
.siteList .site {
  background: #fff;
  width: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  padding: 20px;
}
.siteList .logo {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
.siteList .link {
  font-size: 14px;
}
.siteList .addButton {
  font-size: 14px;
  background: #fff;
  width: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}
